<section class="about">
<div class="main">
<img src="../../assets/about3.png" alt="">
<div class="about-text">
    <h2>About Me</h2>
    <h5>Developer <span>& designer</span> </h5>
    <p>Iam a full stack Developer. I can provide clean code and pixel perfect design. I also make the website more & more interactive with web animations.I can provide clean andI also make the website more & more interactive with web animations.I can provide clean and
         </p>
<button type="button">Lets talk</button>
</div>
</div>
</section>