<!-- <div class="contact-me">
    <p>Let Me Get Your Beautiful Website</p>
    <a class="button-two" href="#">Hire Me</a>
</div> -->

<section class="contact" >
    <div class="contact-form" id="contatcus">
<h1>Contact <span>Us</span> </h1>
<p>Iam available for freelance work. Connect with me via phone:9746675622</p>

<form [formGroup]="contactForm"> 
   
    <input type="text" placeholder="Your Name" formControlName="Fullname" required>
    <input type="email" placeholder="E-mail" formControlName="Email" id="" required>
    <input type="" placeholder="Write a Subject" formControlName="Subject" required>
    <textarea name="" id="" cols="30" rows="10" formControlName="Textarea"  placeholder="Your Message">

    </textarea>
<button type="submit" (click)="submitData(contactForm.value)" [disabled]="!contactForm.valid" >Send Message</button>
<p *ngIf="isSubmit">{{ submitMessage}}</p>

</form>
    </div>
<div class="contact-img" data-aos="fade-left"
data-aos-offset="300"
data-aos-easing="ease-in-sine">
    <img src="../../assets/IMG_1957.JPG" alt="">
</div>

</section>